@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    font-family: 'GmarketSansMedium';
    position: relative;
}

.logo-back{
    width: 2000%;
    height: 2000%;
    background-image: url(./images/dongailbo_logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(2%, -45.5%);
    transition: 0.5s;
    position: relative;
    transform-origin: top left; 
}

.main-title{
    position: absolute;
    left: -1.8%;
    top: 45.7%;
    font-size: 80px;
    line-height: 120%;
    font-weight: 700;
}

.main-sub-title{
    font-size: 36px;
    font-weight: 500;
}

.intro{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -3%;
    top: 47.5%;
}

.intro-title{
    position: absolute;
    left: 2%;
    top: 3%;
}

.intro-img{
    position: absolute;
    clip-path: circle(38% at 50% 35%);
    width: 10%;
    left: 4.5%;
    top: 10%;
}

.intro-text{
    position: absolute;
    left: 4.5%;
    top: 35%;
    font-size: 25px;
    text-shadow: 5px 4px 3px #00000045;
}